<div class="card">
  <div class="card-content">
    <span class="card-name">Add Product</span>
    <form (ngSubmit)="onSubmit()" class="col s6">
      <div class="row">
        <div class="input-field col-s6">
          <input type="text" placeholder="Add name (Required)" [(ngModel)]="Product.name" name="name" required >
          
        </div>
      
        <div class="input-field col-s6">
          <app-cities></app-cities>
        </div>

        <div class="input-field col-s6">
            <input type="text" placeholder="Add Contact name (Required)" [(ngModel)]="Product.cname" name="contactName" required >
           
         </div>
        <div class="input-field col-s6">
            <input type="text" placeholder="Add Phone (Required)" [(ngModel)]="Product.cphone" name="phone" required >
            
        </div>
        <div class="input-field col-s6">
            <input type="text" placeholder="What do you want (Required)?" [(ngModel)]="Product.need" name="need" required >
           
        </div>
        <div >
            <input type="date" placeholder="Publish day required" [(ngModel)]="Product.date" format="dd/MM/yyyy" name="published" min="today" required >
            <br> <label>(Required)</label>
           
        </div>

      
      </div>
        <input type="submit"  class="btn light-blue">
    </form>
  </div>
</div>

