<!--
<div *ngIf="Products?.length > 0;else noProducts">
    <ul *ngFor="let Product of Products" class="collection">
        <li class="collection-item" (dblclick)="deleteProduct($event, Product)">
          <strong>Name: {{ Product.name }}</strong>
           <br> Place: {{ Product.place }}
          <a href="#" class="secondary-content">
            <i (click)="deleteProduct($event, Product)" class="fa fa-trash"></i>
            <i (click)="editProduct($event, Product)" class="fa fa-pencil"></i>
          </a>
          <div *ngIf="editState && ProductToEdit.id === Product.id">
            <form (ngSubmit)="updateProduct(Product)">
              <div class="row">
                <div class="input-field col s6">
                  <input 
                    type="text" name="name"
                    placeholder="Product name" [(ngModel)]="Product.name">
                </div>
                <div class="input-field col s6">
                    <input 
                      type="text" name="place"
                      placeholder="Place" [(ngModel)]="Product.place">
                </div>
                <div class="input-field col s6">
                  <input 
                      type="text" name="cname"
                      placeholder="Your name" [(ngModel)]="Product.cname">
                </div>
                <div class="input-field col s6">
                  <input 
                     type="text" name="phone"
                     placeholder="Phone" [(ngModel)]="Product.cphone">
                </div>
                <div class="input-field col s6">
                  <input 
                     type="text" name="need"
                     placeholder="Want do you want?" [(ngModel)]="Product.need">
                </div>
                <div class="input-field col s6">
                    <input 
                       type="date" name="published"
                       placeholder="Published date" [(ngModel)]="Product.date">
                  </div>
                  <input type="submit" class="btn" value="Update Product">
                  <button class="btn red" (click)="deleteProduct($event, Product)" >Delete Product</button>
           
              </div>
            </form>
          </div>
        </li>
      </ul>
   </div>

  <ng-template #noProducts>
      <h5>There is not Products yet.</h5>
    </ng-template>
   
  <p-orderList [value]="Products" [listStyle]="{'height':'250px'}" [responsive]="true" header="Products" 
  filter="filter" filterBy="name" filterPlaceholder="Filter by brand" dragdrop="true" dragdropScope="Products">
  <ng-template let-product pTemplate="item">
      <div class="ui-helper-clearfix" (dblclick)="deleteProduct($event, Product)">
          <img src="assets/iphone.jpg" width="10%" height="10%">
          <div style="font-size:14px;float:right;margin:15px 5px 0 0">{{ product.name }} {{ product.place }}  </div>
      </div>
  </ng-template>
</p-orderList>-->



<body>

  <div class="bg"><img src="assets/send.jpg"  > </div>
  
  <p>The edit and delete function is cooming soon <br>
    please send me your request and i will love to do it for you</p>

    Email <a href="mailto:copycolormorde@gmail.com">copycolormorde@gmail.com</a>
  
  </body>

  