<p-checkbox label="Search by max distance: {{distance}} km" [(ngModel)]="filter"
binary="true" (onChange)="onCheckboxChange($event)" [disabled]="disableFilter"></p-checkbox>
<p-slider [disabled]="disableSlider" [(ngModel)]="distance" [max]="100" [style]="{'width':'50%'}"
(onSlideEnd)="handleSliderChange($event)" (onChange)="handleSliderChange($event)"></p-slider>

